<tal:block metal:define-macro="modalbox">
    <link type="text/css" rel="stylesheet" href="${baseUrl}/public/css/jquery.modalbox.css" />
    <script type="text/javascript" src="${baseUrl}/public/js/jquery.modalbox-1.4.1-min.js"></script>
</tal:block>

<tal:block metal:define-macro="tablesorter">
    <link type="text/css" rel="stylesheet" href="${baseUrl}/public/images/tablesorter_theme/style.css" />
    <link type="text/css" rel="stylesheet" href="${baseUrl}/public/css/jquery.tablesorter.pager.css" />
    <script type="text/javascript" src="${baseUrl}/public/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="${baseUrl}/public/js/jquery.tablesorter.pager.js"></script>
</tal:block>


<tal:block metal:define-macro="eLrte">
    <link rel="stylesheet" href="${baseUrl}public/plugins/elrte/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="${baseUrl}public/plugins/elrte/css/elrte.min.css"                         type="text/css" media="screen" charset="utf-8" />
    <script src="${baseUrl}public/plugins/elrte/js/elrte.min.js"                  type="text/javascript" charset="utf-8"></script>
    <script src="${baseUrl}public/plugins/elrte/js/i18n/elrte.de.js"              type="text/javascript" charset="utf-8"></script>
</tal:block>

<tal:block metal:define-macro="eLrte_finder">
    <link rel="stylesheet" type="text/css" media="screen" href="${baseUrl}public/plugins/elfinder/css/elfinder.min.css" />
    <script type="text/javascript" src="${baseUrl}public/plugins/elfinder/js/elfinder.min.js"></script>
    <script type="text/javascript" src="${baseUrl}public/plugins/elfinder/js/i18n/elfinder.de.js"></script>
    
    <!-- Mac OS X Finder style for jQuery UI smoothness theme (OPTIONAL) -->
    <link rel="stylesheet" type="text/css" media="screen" href="${baseUrl}public/plugins/elfinder/css/theme.css" />
</tal:block>

